Data/raw/*.csv
Data/raw/*.gz
Data/raw/*.zip
.kaggle/
.env
Data/credit_scoring.dbData/credit_scoring.db
/workspaces/final_project_creditscoring/Data/credit_scoring.db
Data/*

# Kaggle
*.csv
*.csv.gz

# BFG / repos espejo
repo-espejo.git/
repo-espejo.git.bfg-report/
bfg.jar